* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(./bg.png);
  color: white;
}
img {
  filter: brightness(0) invert(1);
  width: 200px;
}
.heading1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.span-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
